h1, h2, h3, h4, h5, h6 {
font-family: Verdana, Sans-serif;
font-weight: bold;
}

p {
font-family: Georgia, Sans-serif;
color: green; 
background-color: white;
} 

.largefont {
  color: red;
  font-family:Georgia;
  font-size: 20px;
}

#h2Header {
  background-color: lightgreen;
  color: black;
}
