h1, h2, h3, h4, h5, h6 {
font-family: Verdana, Sans-serif;
font-weight: bold;
}

p {
font-family: Georgia, Sans-serif;
} 

.red {
  color: red;
  background-color: white;
}

#blueBackground {
  color: black;
  background-color: blue;
}

.scaleWidth {
width: 100%;
}
